
<div class="left-links">
    <div class="title">
        <span>Partilhar</span>
    </div>
    <div class="icons-buttons">
        <!-- <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-link"></i></a></li>
        </ul> -->
        <ul>
            <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faLinkedIn"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faLink"></fa-icon></a></li>
        </ul>
    </div>
    
<!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
    
</div>