<div class="full-content-post">
    <p *ngIf="postContent">
        <!-- Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque.
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Ea consequatur, accusamus
        dolores debitis esse voluptates pariatur ex
        nulla, quas modi cumque maiores eveniet rerum
        cum hic similique! A, aliquid doloremque. -->
        
    </p>
</div>