<div class="container-header">
    <div class="box">
        <div class="image">
            <img src="../../../assets/images/header/hd-1.jpg" alt="" srcset="">
        </div>
        <div class="text">
            <div class="text-tip">
                <p>Dicas</p>
            </div>
            <div class="text-title">
                <h1>Como se preparar para expôr em feiras</h1>
            </div>
            <div class="text-date-details">
                <ul>
                    <li>12 de Junho de 2021</li>
                    <li>2 min de leitura</li>
                </ul>
            </div>
            <div class="keep-on">
                <a href="">Continuar <span>&#8594;</span></a>
            </div>
        </div>
    </div>
</div>