<div class="content-comment-form">
    <div class="comment-number-text">
        <div class="title">
            <h3>10 Comentários</h3>
        </div>
        <div class="text">
            <span>Deixe também o seu comentário</span>
        </div>
    </div>
    <div class="comment-form">
        <form action="">
            <div>
                <input type="text" placeholder="Nome" name="nome">
            </div>
            <div>
                <input type="email" placeholder="Email" name="email">
            </div>
            <section>
                <textarea name="comentario" id="" placeholder="Seu Comentário..."></textarea>
            </section>
            <section class="button">
                <input type="submit" value="Enviar Comentário">
            </section>
        </form>
    </div>
</div>