<div class="container-header">
    <div class="box">
       <div class="text">
           <div class="text-title">
               <h1>Como se preparar para expôr em feiras</h1>
           </div>
           <div class="text-date-details">
                <ul>
                    <li>Por: <span>Isaquias Sebastião</span></li>
                    <li>12 de Junho de 2021</li>
                    <li><span>2 min de leitura</span></li>
                </ul>
           </div>
       </div>
       <div class="image">
           <img src="../../../assets/images/posts/p6.jpg" alt="">
       </div>
    </div>
</div><br>