<div class="content-comments-display">
    <div class="main-post-body">
        <div class="header-comment">
            <div class="text-date-details">
                <ul>
                    <li><span>Isaquias Sebastião</span></li>
                    <li><span>1 Hora atrás</span></li>
                </ul>
        </div>
        </div>
        <div class="comment-content">
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Veritatis nihil illo
                cumque placeat repudiandae, doloribus
                libero veniam minus vero et cupiditate
                voluptatibus obcaecati modi explicabo rem
                ullam non architecto harum.
            </p>
        </div>
        <div class="comment-actions">
            <!-- <ul>
                <li><span> <a href="#"><i class="fa fa-heart-o"> 15</i></a></span></li>
                <li><span><i class="fa fa-reply"></i> <a href="#">Responder</a></span></li>
            </ul> -->
            <ul>
                <li><span> <a href="#"><fa-icon [icon]="faHeart"></fa-icon> 15</a></span></li>
                <li><span><fa-icon [icon]="faReply"></fa-icon> <a href="#">Responder</a></span></li>
            </ul>
        </div>
    </div>
    <div class="all-replies-content">
        <div class="content-comments-reply-display">
            <div class="header-comment">
                <div class="text-date-details">
                    <ul>
                        <li><span>Isaquias Sebastião</span></li>
                        <li><span>1 Hora atrás</span></li>
                    </ul>
            </div>
            </div>
            <div class="comment-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Veritatis nihil illo
                    cumque placeat repudiandae, doloribus
                    libero veniam minus vero et cupiditate
                    voluptatibus obcaecati modi explicabo rem
                    ullam non architecto harum.
                </p>
            </div>
            <div class="comment-actions">
                <ul>
                    <li><span> <a href="#"><fa-icon [icon]="faHeart"></fa-icon> 15</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="pagination-comments">
    <div class="section">
        <a href="">01</a><a href=""><span>/05</span></a>
    </div>
    <div class="aside">
        <a href=""><span>Anterior | </span></a><a href="">Próximo</a>
    </div>
</div>
<div class="clearfix"></div>