
/* Newsletter Section */
div.newsletter-content{
    height: 500px;
    /* background-color: #ccc; */
}

section.newsletter{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 150px 120px;
    background-color: #f8f8f8;
}
section.newsletter div.all-content{}
section.newsletter div.all-content > div{
    display: inline-block;
    /* background-color: brown; */
    /* padding: 30px; */
    /* height: 300px; */
}
section.newsletter div.all-content div.left-text{
    width: 450px;
}
section.newsletter div.all-content div.left-text div.newsletter-title{
    margin: 20px 0px;
}
section.newsletter div.all-content div.left-text div.newsletter-title h1{
    font-size: xx-large;
}

section.newsletter div.all-content div.left-text div.newsletter-paragraph{}
section.newsletter div.all-content div.left-text div.newsletter-paragraph p{
    font-size: large;
    font-family: var(--font-family-Poppins-L);
}
section.newsletter div.all-content div.right-form{
    width: 450px;
    position: absolute;
    right: 100px;
}
section.newsletter div.all-content div.right-form div.form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fc0; */
    /* width: 100%; */
}
section.newsletter div.all-content div.right-form div.form form{
    padding: 20px;
    width: 100%;
}
section.newsletter div.all-content div.right-form div.form form > div{
    margin: 15px;
}
section.newsletter div.all-content div.right-form div.form form > div input:focus{
    outline: 0;
}
section.newsletter div.all-content div.right-form div.form form div input[type="email"]{
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 13px;
}
section.newsletter div.all-content div.right-form div.form form div.email-submit input{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-family: var(--font-family-Poppins-L);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
section.newsletter div.all-content div.right-form div.form form div.email-submit input:hover{
    /* transform: scale(1.2); */
    /* font-size: 14px; */
}

/* End Newsletter Section */