<div class="newsletter-content">
    <section class="newsletter">
        <div class="all-content">
            <div class="left-text">
                <div class="newsletter-title">
                    <h1>Assine à nossa newsletter Com conteúdos exclusivos</h1>
                </div>
                <div class="newsletter-paragraph">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="right-form">
                <div class="form">
                    <form action="">
                        <div>
                            <input type="email" placeholder="E-Mail">
                        </div>
                        <div class="email-submit">
                            <input type="submit" value="Assinar Newsletter" autofocus="false">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>